@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-image: url(images/그린배경.jpg);
  background-size:cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "IBM Plex Sans KR", sans-serif;
  padding-bottom: 5%;
}


button {
  all: unset;
  margin: 10px 0;
  background-color: rgb(148, 215, 153);
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

button:hover {
  all: unset;
  margin: 10px 0;
  background-color: rgb(255, 177, 190);
  
  color: rgb(255, 255, 255);
  font-weight: 700;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#container {
    width: 90%;
    gap : 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#write-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#write-container input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
}
#write-container input[type="text"][placeholder="제목"] {
    width: 430px;
    margin-bottom: 10px;
    padding: 5px;
}
#write-container input[type="text"][placeholder="내용을 입력하세요"] {
    width: 340px;
    margin-bottom: 10px;
    padding: 50px;
}
#write-container input[type="text"][placeholder="내용을 입력하세요"]::placeholder {
    text-align: center;
}

#user-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#list {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

@media (min-width: 1200px) {
  #list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  #list {
    grid-template-columns: 1fr 1fr;
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: url(images/핑크배경.jpg);
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "IBM Plex Sans KR", sans-serif;
    padding-bottom: 5%;
  }
}

@media (max-width: 767px) {
  #list {
    grid-template-columns: 1fr;
  }
}

#entry {
    width: 100%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    /* border: 1px solid gray; */
    /* box-shadow: 0px 5px 5px -5px gray; */
}

#titleinentry {
  font-size: 30px;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}

#contentinentry {
  text-align: center;
}

#infoinentry {
  text-align: right;
}